body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: #673ab7;
    margin-bottom: 30px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #673ab7;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: #ff0000;
    font-size: 12px;
}

.inscription-button {
    display: block;
    width: 150px; 
    margin: 0 auto; 
    margin-top: 20px; 
    padding: 10px;
    background-color: #673ab7;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inscription-button:hover {
    background-color: #5a2d9c;
}
